.k-grid tr > :is(td, th) {
  border-inline: none;
}

.k-grid .k-grid-header th.k-header,
th.k-filterable.k-table-th.k-header {
  padding-block: 0.75rem;
  padding-inline: 0.5rem;
}

.k-grid tr > th {
  border-bottom: 1px solid var(--table-cell-border-color);
}

.k-grid .k-grid-header th.k-header .k-column-title {
  font-size: 0.75rem;
  font-weight: bold;
}

.k-grid tr > td:nth-of-type(n + 1) {
  padding: 0.75rem;
  border-bottom: 1px dotted var(--table-cell-border-color);
}

.k-grid tr > td[role="gridcell"]:has(input) {
  padding: 0.25rem;
}

.k-grid tr > td input,
.k-grid tr > td input:focus {
  padding: 0.25rem;
  border: 2px solid #ccc;
  box-shadow: none;
  font-size: 0.75rem;
}

.k-grid tr > td:nth-of-type(1),
.k-grid .k-grid-header th.k-header:nth-of-type(1) {
  padding-left: 0;
}

.k-grid tr > td:nth-of-type(2n),
.k-grid tr > th:nth-of-type(2n) {
  background-color: var(--table-alternate-col-color) !important;
}

.k-grid .k-grid-footer .k-grid-footer-sticky {
  background-color: var(--color-white);
}

.k-grid-header .k-table-th.k-grid-header-sticky {
  color: var(--text-color);
}

.k-grid .k-grid-footer tr > td {
  border: none;
}

.k-grid tr > td {
  font-size: 0.75rem;
  font-weight: normal;
}

.k-grid-header .k-table-th.k-grid-header-sticky,
.k-grid-header td.k-grid-header-sticky,
.k-grid-header .k-table-td.k-grid-header-sticky,
.k-grid-header .k-grid-header-sticky.k-sorted,
.k-grid-content .k-table-tbody tr.k-table-row > td.k-grid-content-sticky {
  background-color: var(--color-white);
}

.k-grid tr.k-state-selected > td,
.k-grid .k-table-row.k-selected > td {
  background-color: var(--screen-primary-color-rgba-03) !important;
}

.k-grid .k-grid-footer tr > td {
  height: 0.6em;
  line-height: 0.68;
  font-weight: bold !important;
  background-color: var(--color-white) !important;
}

.k-grid input.k-checkbox {
  box-shadow: none;
}

.k-grid :is(.k-table-thead, .k-table, .k-table-tfoot td) {
  color: var(--text-color);
}

.k-grid input[type="checkbox"] {
  accent-color: var(--screen-primary-color);
  border: 1px solid var(--screen-primary-color);
  background-color: var(--screen-primary-color-rgba-01);
}

.k-grid input.k-checkbox:checked {
  background-color: var(--screen-primary-color);
}

.no-records-grid.k-grid .k-grid-table-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background color for kendo grid alternate rows */

.k-grid tr,
.k-grid tr .k-grid-content-sticky,
.k-header.k-grid-header-sticky {
  background-color: var(--color-white) !important;
}

.k-grid-header {
  background-color: var(--color-gray-200) !important;
  background-clip: content-box;
}

.k-grid-footer {
  background-color: var(--color-gray-200) !important;
  background-clip: content-box;
}

/* grid active filter styling */
.k-grid .k-active-filter .k-grid-header-menu.k-grid-column-menu {
  color: var(--color-white) !important;
  background-color: rgb(170, 169, 169) !important;
}

.k-grid-header .k-sort-icon {
  color: var(--screen-primary-color);
}
